

@using demo1.CodeLogic.Helper
@using demo1.CodeLogic

<form action="/Admin/Home/ChangePassword" id="FormChangePassword" method="post" class="quickSubmit form-horizontal style-form bv-form validateForm useScrollBar closeOnSubmit"  data-modal="#myModal">
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <label id="lblresult"></label>
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title text-center">Change Password</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Current password</label>
                            <div class="col-sm-9">
                                @Html.CusTextBoxPassWord("crPassword", "Password", null, "Current password", "Current password", false, true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">New password</label>
                            <div class="col-sm-9">
                                @Html.CusTextBoxPassWord("crPasswordNew", "PasswordNew", null, "New password", "New password", false, true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3  control-label">Confirm new password</label>
                            <div class="col-sm-9">
                                @Html.CusTextBoxPassWord("crPasswordConfirm", "PasswordConfirm", null, "Confirm new password", "Confirm new password", false, true)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3  control-label">Show password</label>
                            <div class="col-sm-9">
                                <input type="checkbox" id="ChkPassword" name="ChkPassword" onclick="chkPassword();" style=" width: 35px; transform: scale(1.2);" />
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal"><i class="fa fa-lightbulb-o"></i>&nbsp; Đóng</button>
                    <input type="submit" name="submit" class="btn btn-success btn-sm" value="Submit" @*onclick="return validate()"*@ />

                </div>

            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    function chkPassword() {
        var check = $('#ChkPassword:checkbox:checked').length > 0;
        if (check) {
            $("#FormChangePassword").find('input[type=password]').each(function (ind, el) {
                $(el).attr('type', 'text');
            });
        }
        else {
            $("#FormChangePassword").find('input[type=text]').each(function (ind, el) {
                $(el).attr('type', 'password');
            });
        }
    }
</script>


