@model demo1.Models.Views.UserModel
@using demo1.CodeLogic.Helper
@using demo1.CodeLogic.Commons
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<section class="wrapper mt-2">
    <h3><i class="fa fa-angle-right"></i>&nbsp;@ViewBag.Title</h3>
    <!-- row -->
    <div class="row mt">
        <div class="col-md-12">
            <div class="content-panel col-md-12 col-xs-12">
                <div class="col-md-12">
                </div>

                @*<div class="col-md-2">

                    </div>*@
            </div>
            <div class="content-panel col-md-12  col-xs-12 no-padding cus-content-table" id="div-ListRoles">
                @Html.Partial("ListRoles", Model)
            </div>
            <!-- /content-panel -->
        </div>
        <!-- /col-md-12 -->
    </div>
    <!-- /row -->
</section>


@*@Scripts.Render("~/Assets/Admin/jquery/js/jquery.js")*@

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".cusleft-user").addClass("active");
            $(".cusleft-roles").addClass("active-cus");
        })

    </script>
}

