@model demo1.Models.Views.AutocompleteModel
@using demo1.CodeLogic.Helper
@using demo1.CodeLogic.Enums

@if (Model.User.IDRole == (int)Enums.Role.Employee)
{
    <div class="form-group">
        <label class="col-sm-2 col-sm-2 control-label">Chức vụ</label>
        <div class="col-sm-10">
            @Html.CusTextBox("crPosition", "Position", null, "Chức vụ", "Chức vụ", false, true)
        </div>
    </div>
}
